
* {
	box-sizing: border-box;
  }
 
body {
	background: rgba(197, 196, 196, 0.664);
	font-size: 20px;
}

#menu {
	margin-bottom: 2rem;
	
}
/* Navbar */
nav h1 {
	background: rgba(78, 78, 78, 0.705);
	padding: 10px 0 20px 30px;
}

#btn {
	float: right;
}

/* items */
.items {
	display: block;
	background: rgba(99, 70, 70, 0.726);
	border: 2px solid black;
	margin-bottom: 20px;
	width: 92% !important;
}
section h3 {
	padding: 10px 0 10px;
}

.nav-item {
	background-color: rgba(56, 38, 38, 0.753);
}



/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 575px) {
	.container {
		margin-left: 20px !important;
	}
}
